<h2><%= t :title_send_report %></h2>

<div class="alert alert-info" role="alert">
  <strong><%= t "info.hello" %></strong> <%= t "info.description" %>

  <ul>
    <li><%= t "info.plain_text" %></li>
    <li><%= t "info.structure" %></li>
      <li><%= t "info.example_file" %>
        <a href="https://github.com/myfreecomm/desafio-programacao-1b/blob/master/dados.txt" target="_blank">
        <%= t "info.here" %></a></li>
  </ul>
</div>

<%= form_tag(import_purchases_path, multipart: true) do %>
  <div class="form-group">
    <%= label_tag t :purchases_file %>
    <%= file_field_tag :purchases_file, class: "form-control", required: true %>
  </div>

  <%= submit_tag t(:send_button), class: "btn btn-primary" %>
<% end %>
