<h2><%= t :title_send_report %></h2>

<div class="alert alert-info" role="alert">
  <strong>Olá!</strong> Aqui você pode importar um relatório de compras. Deve
  apenas atentar que:

  <ul>
    <li>Ele deve estar no formato de texto plano (.txt)</li>
    <li>Cada campo deve estar separado por um "tab", e o arquivo deve seguir uma
      estrutura pré-definida
      <li>Você pode ver um arquivo de exemplo
        <a href="https://github.com/myfreecomm/desafio-programacao-1b/blob/master/dados.txt"
        target="_blank">aqui</a></li>
  </ul>
</div>

<%= form_tag(import_purchases_path, multipart: true) do %>
  <div class="form-group">
    <%= label_tag t :purchases_file %>
    <%= file_field_tag :purchases_file, class: "form-control", required: true %>
  </div>

  <%= submit_tag t(:send_button), class: "btn btn-primary" %>
<% end %>
