<!DOCTYPE html>
<html>
<head>
  <title><%= t :store %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
  <%= link_to t(:store), root_path, class: "navbar-brand" %>
</nav>

<div class="container">
  <%= yield %>
</div>
</body>
</html>